.advantages-info {
  display: none;
  order: 3;

  @media (min-width: $tablet-min-width) {
    display: grid;
    background-color: $color-alternate;
  }

  @media (min-width: $desktop-min-width) {
    display: grid;
    background-color: $color-bg-alternate;
  }
}

.advantages__info-container {
  @media (min-width: $tablet-min-width) {
    max-width: $tablet-min-width;
  }

  @media (min-width: $desktop-min-width) {
    max-width: $desktop-min-width;
  }
}

.advantages-info__wrapper {
  @media (min-width: $tablet-min-width) {
    display: grid;
    position: relative;
    padding: 102px 0 28px 310px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 120px 0 120px 370px;
  }
}

.advantages-info__wrapper::before {
  @media (min-width: $tablet-min-width) {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 238px;
    height: 276px;
    background-image: url("../img/advantages-info-time-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
   }

  @media (min-width: $desktop-min-width) {
    width: 298px;
    height: 345px;
    left: 0px;
    bottom: 67px;
    background-image: url("../img/advantages-info-time-desktop.png");
  }
}

.advantages-info__title {
  @media (min-width: $tablet-min-width) {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    max-width: 200px;
    color: $color-heading;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 100%;
  }
}

.advantages-info__text {
  @media (min-width: $tablet-min-width) {
    line-height: 21px;
    margin-bottom: 24px;
    max-width: 310px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 534px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 47px;
  }
}

.advantages-info__link {
  @media (min-width: $tablet-min-width) {
    line-height: 14px;
    color: $color-accent;
    text-decoration-line: underline;
  }

  @media (min-width: $desktop-min-width) {

  }
}
