.advantage {
  text-align: center;
}

.advantage__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $color-heading;
  margin-bottom: 24px;
}

.advantage__image {
  display: none;
}

.advantage__text {}
