.button {
  padding: 20px;
  font-size: 18px;
  font-weight: 700;

  &--first {
    line-height: 18px;
    color: $color-alternate;
    background-color: transparent;
  }

  &--second {
    line-height: 18px;
    color: $color-accent;
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid $color-accent;
  }
  
  &--third {
    line-height: 30px;
    color: $color-alternate;
    background-color: $color-button-form;
    text-transform: uppercase;
    border: 2px solid $color-alternate;
    border-radius: 5px;
  }
  
  &--disabled {
    border: 3px solid $color-main;
    color: $color-main;
    opacity: 0.1;
  }
}


