.button {
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &--first {
    color: $color-alternate;
    background-color: transparent;
  }

  &--second {
    line-height: 18px;
    color: $color-accent;
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid $color-accent;
    width: 280px;
    max-height: 55px;
    padding: 16px;

    @media (min-width: $tablet-min-width) {
      width: 260px;
    }

    @media (min-width: $desktop-min-width) {
      width: auto;
    }
  }
  
  &--third {
    color: $color-alternate;
    background-color: $color-button-form;
    border: 2px solid $color-button-form;
    text-transform: uppercase;
    border-radius: 3px;
    width: 100%;
    max-width: 296px;
    transition: 
                opacity 0.3s,
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

    &:hover,
    &:focus {
      background-color: #1C9B5E;
      border-color: #1C9B5E;
    }

    &:active {
      color: rgb(255 255 255 / 0.3);
    }

    &:disabled {
      background-color: $color-bg-info;
      border-color: $color-bg-info;
    }
  }
  
  &--disabled {
    border: 3px solid $color-main;
    color: $color-main;
    opacity: 0.1;
  }
}


