.editor {
  padding: 20px 20px 40px;
  background-color: $color-bg-alternate;
}

.editor__image {
  margin-bottom: 42px;
}

.editor__list {
  margin-bottom: 72px;
}

.editor__item {
  margin-bottom: 40px;
  
    &:not(:last-child) {
      margin-right: 36px;
    }
}

.editor__toggle {}

.editor__bar {}

.editor__buttons {}

.editor__submit {
  margin-bottom: 12px;
}

.editor__reset {}