.editor {}

.editor__picture {
  margin-bottom: 42px;
  max-width: 280px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
    grid-row: 1/-1;
    max-width: none;
    width: 300px;
    justify-self: end;
  }

  @media (min-width: $desktop-min-width) {
    justify-self: start;
  }
}

.editor__image {}

.editor__list {
  margin-bottom: 40px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 35px;

  @media (min-width: $tablet-min-width) {
    grid-auto-flow: row;
    margin-bottom: 0;
    justify-content: normal;
    align-items: normal;
    column-gap: 0;
    row-gap: 10px;
    max-height: 198px;
  }

  @media (min-width: $desktop-min-width) {
    max-height: 214px;
    row-gap: 14px;
  }
}

.editor__item {
  &:last-child {
    @media (min-width: $desktop-min-width) {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color-main, $alpha: 0.1);
    padding: 9px 18px 24px 0;
    max-width: 275px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 100%;
    padding: 0 30px 13px 0;
  }
}

.editor__button-wrapper {
  display: grid;
  place-items: center;

  @media (min-width: $tablet-min-width) {
    margin-right: 31px;
  }

  @media (min-width: $desktop-min-width) {
    margin-right: 44px;
  }
}

.editor__toggle {
  display: grid;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
}

.editor__toggle-icon {
  transition: opacity 0.3s;

  @media (max-width: $mobile-max-width) {
    opacity: 0.3;
  }

  & path {
    fill: $color-accent;
    opacity: 1;
    transition: fill 0.3s;
    
    @media (max-width: $mobile-max-width) {
      fill: $color-main;
    }
  }

  &:hover,
  &:focus {
    @media (max-width: $mobile-max-width) {
      opacity: 0.5;
    }
  }

  @media (min-width: $tablet-min-width) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: $desktop-min-width) {
    width: 48px;
    height: 48px;
  }
}

.editor__icon--active {
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 1;
  }

  & path {
    fill: $color-accent;
  }
}

.editor__bar-tablet {
  display: none;

  @media (min-width: $tablet-min-width) {
    display: grid;
    min-width: 202px;
  }

  @media (min-width: $desktop-min-width) {
    width: 100%;
  }
}

.editor__bar-mobile {
  display: grid;
  position: relative;
  padding-bottom: 34px;
  margin-bottom: 38px;

  @media (min-width: $tablet-min-width) {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: 36px;
    height: 1px;
    box-shadow: 0 0 0 100vmax rgba($color-main, $alpha: 0.1);
    clip-path: inset(0 -100vmax);
  }
}

.editor__bar {
  position: relative;
  height: 2px;
  background-color: $color-main;
  justify-self: center;
  width: 100%;
  max-width: 240px;

  @media (min-width: $desktop-min-width) {
    min-width: 288px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 85%;
    width: 14px;
    height: 14px;
    border: 2px solid $color-accent;
    background-color: $color-alternate;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  &:hover::before {
    background-color: $color-accent;
  }
}

.editor__buttons {
  display: grid;
  justify-content: center;
  row-gap: 12px;
  
  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    column-gap: 44px;
  }
}

.editor__submit {
  transition: 
              opacity 0.3s,
              color 0.3s,
              background-color 0.3s;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-alternate;
  }

  &:active {
    color: rgb(255 255 255 / 0.3);
  }
}

.editor__reset {
  color: $color-main;
  opacity: 0.1;
  transition: 
              opacity 0.3s,
              color 0.3s,
              background-color 0.3s;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    background-color: $color-main;
    color: rgb(255 255 255 / 0.3);
  }
}