.fieldset {
  border: none;
}

.fieldset__legend {
  line-height: 18px;
  color: $color-accent;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  max-width: 218px;

  &--last {
    margin-bottom: 22px;
  }
}

.fildset__legend--mobile {
  display: none;
}

.fieldset__list {}

.fieldset__item {

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.fieldset__message-wrapper {
  display: grid;
}

.fieldset__message {
  padding: 20px;
  
  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $color-main;
  }
}