.field {}

.field--main {}

.field--alternate {}

.field--radio {
  font-size: 18px;
  line-height: 30px;
}

.field--checkbox {
  font-size: 18px;
  line-height: 30px;
}

.field__item-wrapper {}

.field__label {
  line-height: 30px;
  color: $color-accent;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.field__input {
  padding-top: 22px;
  
  &::placeholder {
    font-size: 18px;
    line-height: 30px;
  }
}

.field__checkbox {}