.fieldset {
  border: none;
}

.fieldset__legend {
  line-height: 18px;
  color: $color-accent;
  text-transform: uppercase;
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 22px;
  }
}

.fieldset__list {}

.fieldset__item {

  &:not(:last-child) {
    margin-bottom: 66px;
  }
}

.fieldset__message-wrapper {}

.fieldset__message {
  padding: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    padding: 22px;
  }
}