.field {
  position: relative;
  display: flex;
  font-size: 18px;
  line-height: 18px;
  
  &--main {}

  &--alternate {}

  &--radio {
    font-size: 18px;
    line-height: 30px;
  }

  &--checkbox {
    font-size: 18px;
    line-height: 30px;
  }
}

.field--radio input:checked ~ .field__radio::after {
  opacity: 1;
}

.field__radio {
  padding-left: 70px;
  cursor: pointer;
  
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: $color-alternate;
    border-radius: 50%;
    border: 2px solid $color-bg-info;
    transform: translateY(-50%);
    transition: border-color 0.3s;
  }
  
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 11px;
    width: 15px;
    height: 15px;
    background-color: $color-accent;
    border-radius: 50%;
    transform: translateY(-50%);
    opacity: 0;
  }

  &:hover::before,
  &:focus::before {
    border-color: $color-main;
  }

  &:active::before {
    border-color: $color-accent;
  }
}

.field__checkbox {
  padding-left: 59px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: $color-alternate;
    border-radius: 1px;
    border: 2px solid $color-bg-info;
    transform: translateY(-50%);
    transition: border-color 0.3s;

  }
  
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 7px;
    width: 22px;
    height: 16px;
    transform: translateY(-50%);
    background-image: url("../img/field-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
  }

  &:hover::before,
  &:focus::before {
    border-color: $color-main;
  }

  &:active::before {
    border-color: $color-accent;
  }
}

.field--checkbox input:checked ~ .field__checkbox::after {
  opacity: 1;
}

.field__item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    flex-direction: column-reverse;
  }
}

.field__wrapper-phone {
  &::before {
    @media (min-width: $tablet-min-width) {
      position: absolute;
      content: "";
      top: 1px;
      right: 1px;
      width: 66px;
      height: 66px;
      border-radius: 1px;
      background-color: $color-bg-info;
    }
  }

  &::after {
    @media (min-width: $tablet-min-width) {
      position: absolute;
      content: "";
      top: 24px;
      right: 23px;
      width: 20px;
      height: 19px;
      background-color: transparent;
      background-image: url("../img/input-icon-phone.png");
    }
  }
}

.field__wrapper-mail {
  &::before {
    @media (min-width: $tablet-min-width) {
      position: absolute;
      content: "";
      top: 1px;
      right: 1px;
      width: 66px;
      height: 66px;
      border-radius: 1px;
      background-color: $color-bg-info;
    }
  }

  &::after {
    @media (min-width: $tablet-min-width) {
      position: absolute;
      content: "";
      top: 27px;
      right: 24px;
      width: 18px;
      height: 13px;
      background-color: transparent;
      background-image: url("../img/input-icon-mail.png");
    }
  }
}

.field__label {
  font-size: 14px;
  line-height: 14px;
  color: $color-accent;
  text-transform: uppercase;
  padding-left: 22px;
  margin-bottom: 16px;

  @media (min-width: $tablet-min-width) {
    padding-left: 17px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 0;
  }

  &--phone {
    @media (min-width: $tablet-min-width) {
      padding-top: 22px;
    }
  }
}

.field__input {
  padding: 20px;
  border-radius: 1px;
  border: 2px solid $color-bg-info;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  transition: border-color 0.3s;
  
  @media (min-width: $tablet-min-width) {
    width: 100%;
  }

  &:hover,
  &:focus {
    border-radius: 1px;
    border: 2px solid $color-main;
    outline: none;
    z-index: 1;
    background: transparent;
  }
  
  &:active {
    border-color: $color-accent;
    outline: none;
    z-index: 1;
  }

  &::placeholder {
    color: $color-main;
  }

  &--phone {
    @media (min-width: $tablet-min-width) {
      padding-right: 92px;
    }
  }

  &--mail {
    @media (min-width: $tablet-min-width) {
      padding-right: 92px;
    }
  }
}

.field__checkbox {}