.footer {
  padding: 40px 0;

  @media (min-width: $tablet-min-width) {
    padding: 36px 0 40px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 70px 0 75px;
  }
}

.footer__container {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 41px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
    justify-self: start;
  }
}

.footer__logo:hover .footer__logo-text,
.footer__logo:focus .footer__logo-text {
  & path {
    fill: $color-accent;
  }
}

.footer__logo:active .footer__logo-text {
  opacity: 0.3;

  & path {
    fill: $color-main;
  }
}

.footer__logo-image {
  width: 59px;
  height: 40px;
  margin-right: 12px;
}

.footer__logo-text {
  width: 74px;
  height: 23px;
  transition: 
              opacity 0.3s,
              color 0.3s,
              background-color 0.3s;

  & path {
    transition: fill 0.3s;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 41px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }
}

.footer__item {}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid rgb(40 54 69 / 10%);
  transition: 
              opacity 0.3s,
              border-color 0.3s,
              color 0.3s;
              
  &:hover,
  &:focus {
    border: 3px solid $color-main;
  }

  &:active {
    opacity: 0.1;
  }

  img {
    width: 18px;
    height: 18px;
  }
}

.footer__academy {
  display: flex;
  align-items: center;
  line-height: 18px;
  font-size: 14px;

  @media (min-width: $tablet-min-width) {
    justify-self: end;
  }
}

.footer__academy-link {
  margin-left: 15px;
  width: 27px;
  height: 34px;
}

.footer__academy-link:hover .footer__academy-logo,
.footer__academy-link:focus .footer__academy-logo {
  & path {
    fill: $color-main;
  }
}

.footer__academy-link:hover .footer__academy-logo {
  &:active {
    opacity: 0.3;
  }
}

.footer__academy-logo {
  transition: opacity 0.3s;

  & path {
    transition: fill 0.3s;
  }
}