.footer {
  padding: 40px 0;
}

.footer__container {
  display: grid;
  justify-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer__logo-image {
  width: 59px;
  height: 40px;
  margin-right: 12px;
}

.footer__logo-text {
  width: 74px;
  height: 23px;
}

.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}

.footer__item {}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid rgb(40 54 69 / 10%);

  img {
    width: 18px;
    height: 18px;
  }
}

.footer__academy {
  display: flex;
  align-items: center;
  line-height: 18px;
  font-size: 14px;
}

.footer__academy-link {
  margin-left: 15px;
  width: 27px;
  height: 34px;
}
