.footer {
  background-color: $color-alternate;
  padding: 40px ;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__logo-image {
  margin-bottom: 12px;
}

.footer__logo-text {}

.footer__list {
  margin: -7px;
  margin-bottom: 47px;
}

.footer__item {
  padding: 7px;
}

.footer__link {}

.footer__academy {
  line-height: 18px;
}

.footer__academy-link {
  padding-left: 15px;
}