.form {}

.form__list {
  padding: 0 22px 44px;
}

.form__item {
  
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.form__fieldset-wrapper {}

.form__single-wrapper {
  padding: 52px 22px;
}

.form__fieldset {}

.form__submit-wrapper {
  padding: 0 20px;
}

.form__submit {}

.form__required {
  line-height: 30px;
  text-transform: uppercase;

  & span {
    color: $color-accent;
  }
}