.gallery {}

.gallery__top-container {}

.gallery__slogan {
  padding-top: 54px;
  padding-bottom: 60px;
  line-height: 30px;
  background-color: $color-alternate;
}

.gallery__big-post {}

.gallery__post-container {}

.gallery__list {}

.gallery__item {}