.gallery {
  padding-top: 235px;

  @media (min-width: $tablet-min-width) {
    padding-top: 440px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 394px;
  }

}

.gallery__top-container {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 60px;

  @media (min-width: $tablet-min-width) {
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 97px;
  }

}

.gallery__slogan {
  line-height: 28px;
  background-color: $color-alternate;
  max-width: 250px;

  @media (min-width: $tablet-min-width) {
    font-size: 18px;
    max-width: 570px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 580px;
  }
}

.gallery__big-post {
  margin-bottom: 20px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 50px;
  }
}

.gallery__post-container {}

.gallery__list {
  display: grid;
  gap: 20px ;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {}

.gallery__img-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 64.5%;
  
  @media (min-width: $tablet-min-width) {
    padding-bottom: 64.5%;
  }
  
  @media (min-width: $desktop-min-width) {
    padding-bottom: 64.5%;
  }
}