.header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  z-index: 10;
  min-width: 320px;

  @media (min-width: $tablet-min-width) {
    padding: 27px 0 43px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 1;
  align-self: center;
  transition: opacity 0.3s;

  svg {
    fill: $color-alternate;
    transition: fill 0.3s;
  }

  &[href]:hover,
  &[href]:focus {
    svg {
      fill: $color-accent;
    }
  }

  &[href]:active {
    opacity: 0.3;

    svg {
      fill: $color-alternate;
    }
  }
}

.header__logo-mobile {
  display: none;

  @media (max-width: $mobile-max-width) {
    display: flex;
  }
}

.header__logo-tablet {
  display: none;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    display: flex;
  }
}

.header__logo-desktop {
  display: none;

  @media (min-width: $desktop-min-width) {
    display: flex;
  }
}


.header__nav {
  @media (min-width: $tablet-min-width) {
    padding-top: 16px;
  }
}
