.main {}

.main__wrapper {
  background-image: url("../img/main-wrapper-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main__title {
  padding-top: 36px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  // color: $color-alternate;
}

.main__survey {}