.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.main__title-wrapper {
  padding: 100px 46px 51px;
  background-image: url("../img/main-wrapper-mobile.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 235px;
  display: flex;
  justify-content: center;
  
  @media (min-width: $tablet-min-width) {
    background-image: url("../img/main-wrapper-tablet.jpg");
    padding-top: 191px;
    padding-bottom: 74px;
    min-height: 440px;
  }
  
  @media (min-width: $desktop-min-width) {
    background-image: url("../img/main-wrapper-desktop.jpg");
    padding-top: 184px;
    padding-bottom: 104px;
    min-height: 394px;
  }
}

.main__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $color-alternate;
  text-align: center;
  max-width: 228px;

  @media (min-width: $tablet-min-width) {
    font-size: 50px;
    line-height: 53px;
    max-width: 620px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 747px;
  }
  
  &--gallery {
    @media (min-width: $desktop-min-width) {
      max-width: 658px;
    }
  }
}

.main__survey {}
