.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-alternate;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  min-width: 320px;
  
  &--active {
    // display: grid;
  }

  @media (min-width: $tablet-min-width) {
    min-width: 460px;
  }

  @media (min-width: $desktop-min-width) {
    min-width: 780px;
  }
}

.modal__top-wrapper {
  text-align: center;
  justify-items: center;
  padding-top: 44px;
  padding-bottom: 50px;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 60px;
  }
}

.modal__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-heading;
  margin-bottom: 36px;

  @media (min-width: $tablet-min-width) {
    font-size: 30px;
    line-height: 32px;
    max-width: 260px;
  }
  
  @media (min-width: $desktop-min-width) {
    max-width: 400px;
  }
}

.modal__text {
  max-width: 280px;
  line-height: 24px;

  @media (min-width: $tablet-min-width) {
    max-width: 320px;
    font-size: 18px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 378px;
  }
}

.modal-success .modal__text {
  text-align: center;
}

.modal__bottom-wrapper {
  display: grid;
  padding-bottom: 52px;
  justify-items: center;

  @media (min-width: $desktop-min-width) {
    padding-top: 52px;
    background-color: $color-bg-alternate;
  }
}

.modal__failure-wrapper {}

.modal__success-wrapper {
  padding-top: 52px;
  border-radius: 0 0 1px 1px;
  background-color: $color-bg-alternate;
}

.modal__close {}