.modal {
  padding-top: 44px;
  padding-bottom: 52px;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  background-color: $color-alternate;
}

.modal__top-wrapper {
  text-align: center;
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  color: $color-heading;
  margin-bottom: 36px;
}

.modal__text {
  margin-bottom: 50px;
}

.modal__bottom-wrapper {
  display: grid;
}

.modal__close {}