.nav {}

.nav__toggle {
  padding: 20px;
}

.nav__wrapper {}

.nav__list {}

.nav__item {}

.nav__link {
  color: $color-alternate;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 26px 88px;
}