.post {
  background-color: $color-alternate;
}

.post--big {}

.post__image {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
}

.post__image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 43%;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 77%;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 42.2%;
  }

  & img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post__wrapper {
  display: grid;
  background-color: $color-bg-alternate;
  padding: 25px 10px 25px 17px;

  @media (min-width: $tablet-min-width) {
    padding: 30px;
  }
}

.post__container .post__wrapper {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.post__user-name {
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 14px;

  & span {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.post__text {
  line-height: 21px;
  margin-bottom: 23px;
  max-width: 253px;

  @media (min-width: $tablet-min-width) {
    min-height: 42px;
  }
}

.post__container .post__text {
  @media (min-width: $tablet-min-width) {
    max-width: none;
    order: 1;
    grid-column: 1 / -1;
    margin-bottom: 0;
    min-height: 0;
  }

  @media (min-width: $desktop-min-width) {
    text-align: center;
  }
}

.post__likes-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.post__container .post__likes-wrapper {
  @media (min-width: $tablet-min-width) {
    margin-bottom: 14px;
    display: flex;
    justify-content: end;
    gap: 16px;
  }
}

.post__likes-toggle {
  display: grid;
  background-image: url("../img/catalog-like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: none;
  margin-right: 18px;

  @media (min-width: $tablet-min-width) {
    margin-right: 0;
  }
}

.post__likes-count {
  font-size: 12px;
  line-height: 16px;
  color: $color-accent;
  text-transform: uppercase;
  }

.post__of-the-day {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  color: $color-alternate;
  background-color: $color-accent;

  @media (min-width: $tablet-min-width) {
    top: 57px;
  }
  
  @media (min-width: $desktop-min-width) {
    top: 54px;
    left: calc(50% + 330px);
    max-width: 141px;
  }
}

.post__container {}