.post {
  background-color: $color-alternate;
}

.post--big {}

.post__image {}

.post__image-wrapper {
  position: relative;
}

.post__wrapper {
  background-color: $color-bg-alternate;
  padding: 26px 10px 16px 16px;
}

.post__user-name {
  font-weight: 700;
  margin-bottom: 14px;

    & span {
      font-style: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }
}

.post__text {
  margin-bottom: 14px;
  max-width: 253px;
}

.post__likes-wrapper {
  display: flex;
  align-items: center;
}

.post__likes-toggle {
  display: grid;
  background-image: url("../img/catalog-like.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 12px;
  border: none;
  margin-right: 8px;
  padding: 10px;
}

.post__likes-count {
  color: $color-accent;
  text-transform: uppercase;
}

.post__of-the-day {
  display: table;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  color: $color-alternate;
  background-color: $color-accent;
}