.preview {
  display: grid;
  padding-top: 95px;
  padding-bottom: 124px;
  background-color: $color-bg-download;

  @media (min-width: $tablet-min-width) {
    background-color: transparent;
    padding-top: 212px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 224px;
  }
 }

.preview__image-wrapper {
  display: grid;
  align-items: end;
  justify-content: center;
  position: absolute;
  height: 462px;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  background-image: url("../img/main-wrapper-mobile.jpg");
  background-size: cover;
  overflow: hidden;

  @media (min-width: $tablet-min-width) {
    background-image: url("../img/main-wrapper-tablet.jpg");
    background-size: cover;
    height: 729px;
  }

  @media (min-width: $desktop-min-width) {
    background-image: url("../img/main-wrapper-desktop.jpg");
    background-size: cover;
    height: 853px;
    padding-left: 144px;
  }
}

.preview__image {
  display: block;
  width: 320px;
  height: 286px;
  
  @media (min-width: $tablet-min-width) {
    display: grid;
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-min-width) {
    width: 1050px;
    max-width: 1050px;
    height: 645px;
  }
}

.preview__content {
  position: relative;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet-min-width) {
    display: flex;
  }
  
  @media (min-width: $desktop-min-width) {
  }
}

.preview__container {
  display: grid;
  justify-items: center;
  width: 100%;
  
  @media (min-width: $tablet-min-width) {
    justify-content: start;
    max-width: $tablet-min-width;
  }

  @media (min-width: $desktop-min-width) {
    max-width: $desktop-min-width;
  }
}

.preview__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $color-alternate;
  text-align: center;
  margin-bottom: 339px;
  max-width: 280px;
  
  @media (min-width: $tablet-min-width) {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 40px;    
    max-width: 240px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 50px;
    max-width: 240px;
  }
}

.preview__download {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $color-alternate;
  margin-bottom: 32px;
  border: 3px solid #fff;
  text-align: center;
  border-radius: 28px;
  padding: 16px 20px;
  width: 100%;
  max-width: 280px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 46px;
    max-width: 300px;
  }
  
  @media (min-width: $desktop-min-width) {
    font-size: 21px;
    margin-bottom: 67px;
  }
}

.preview__list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 28px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 58px;
  }
}

.preview__item {}

.preview__caption {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: $color-alternate;
  width: 100%;
  max-width: 280px;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    font-size: 18px;
    line-height: 22px;
    max-width: 300px;
  }
}
