.preview {
  padding: 30px 20px 38px;
  background-color: $color-bg-download;
}

.preview__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  color: $color-alternate;
  padding: 0 20px;
  // background-image: url("../img/nav-backgroud-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
}

.preview__download {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $color-alternate;
  padding: 28px 20px 0;
  margin-bottom: 32px;
}

.preview__list {
  margin-bottom: 28px;
  padding: 0 58px;
}

.preview__item {
  padding: 0 35px;
  margin-bottom: 28px;
}

.preview__caption {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $color-alternate;
  padding: 0 20px;
}