.preview {
  padding-top: 30px;
  padding-bottom: 38px;
  background-color: $color-bg-download;
}

.preview__image-wrapper {
  margin-bottom: 28px;
}

.preview__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  color: $color-alternate;
}

.preview__download {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $color-alternate;
  padding-top: 28px;
  margin-bottom: 32px;
}

.preview__list {
  margin-bottom: 28px;
}

.preview__item {
  margin-bottom: 28px;
}

.preview__caption {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $color-alternate;
}