.review {
  padding-top: 50px;
  margin: 0;
}

.review__comment {
  line-height: 30px;
  margin-bottom: 44px;
}

.review__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $color-heading;
  margin-bottom: 30px;
}

.review__age {
  line-height: 30px;
}