.review {
  margin: 0;
  display: grid;
  text-align: center;
}

.review__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $color-heading;
  margin-bottom: 30px;
}

.review__age {
  display: none;
}

.review__comment {
  font-size: 14px;
  line-height: 30px;
}
