.reviews {
  padding-top: 50px;
  padding-bottom: 56px;
  // background-color: $color-alternate;
}

.reviews__container {
  display: grid;
  justify-items: center;
}

.reviews__slider {
  display: grid;
  justify-items: center;
  max-width: 280px;
}

.reviews__wrapper {
  margin-bottom: 40px;
}

.reviews__button {
  display: none;
}

.reviews__list {}

.reviews__item {
  &:not(:first-child) {
    display: none;
  }
}

.reviews__dots {}
