.survey {
  background-color: $color-alternate;
  padding-top: 291px;
}

.survey__container {
  background-color: $color-alternate;
}

.survey__slogan-wrapper {
  margin-bottom: 54px;
  text-align: center;
  line-height: 30px;
}

.survey__slogan-mobile {}

.survey__slogan {
  display: none;
}

.survey__form {}