.upload {
  background-color: $color-alternate;
}

.upload__container {}

.upload__slogan {
  padding: 50px 0;
  text-align: center;
  line-height: 24px;

  @media (min-width: $tablet-min-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 75px 0;
  }
}

.upload__editor-wrapper {
  background-color: $color-bg-alternate;
  padding: 20px 0 40px;
  display: grid;
}

.upload__editor-container {
  border-bottom: 1px solid rgba($color-main, $alpha: 0.1);
  margin-bottom: 38px;
}

.upload__editor {
  display: grid;
}