.upload {
  background-color: $color-alternate;

  @media (min-width: $desktop-min-width) {
    display: grid;
  }
}

.upload__container {}

.upload__slogan {
  padding: 50px 0;
  text-align: center;
  line-height: 24px;

  @media (min-width: $tablet-min-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 75px 0;
  }
}

.upload__editor-wrapper {
  background-color: $color-bg-alternate;
  padding: 20px 0 40px;
  display: grid;
  
  @media (min-width: $tablet-min-width) {
    padding: 57px 0;
  }
  
  @media (min-width: $desktop-min-width) {
    padding: 57px 40px 57px 60px;
    margin: 0 auto;
    min-width: 940px;
  }
}

.upload__editor {
  justify-content: center;

  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 136px;
    column-gap: 45px;
  }
  
  @media (min-width: $desktop-min-width) {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 55px;
    column-gap: 90px;
  }
}


.upload__editor-picture {
  margin-bottom: 42px;
  max-width: 280px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
    max-width: 300px;
    grid-row: 1/-1;
  }
}