*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;

  &[href^="tel:"],
  &[href^="mailto:"] {
    font-variant-numeric: lining-nums;
    white-space: nowrap;
  }
}

button {
  cursor: pointer;
}

button,
input {
  font-family: unset;
  font-size: unset;
  line-height: unset;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}